.InfoBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    
}

.temp {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    margin-top: -8px;
}

.weather {
    margin-top: -40px;
    font-size: 1rem;
    color: white;
    
}

.Info p {
    border: 1px solid white;
    border-radius: 50px;
    width: 180px;
    height: 30px;
background: rgba(177, 194, 236, 0.5);
    text-align: center;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.city {
    color: white;
}
.info-card {
    border-radius: 20px  !important;
    background: linear-gradient(
  135deg, 
  #9abbf0 0%,    /* Deep Blue Top-Left */
  #8d9de3 35%,   /* Mid Royal Blue */
  #aa61db 70%,   /* Rich Purple */
  #905cd0 100%   /* Bright Violet Bottom-Right */
) !important;


}

.Info {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.option {
    display: flex;
    gap: 1rem;
    margin-left: -5px;
}