.WeatherBox {
    width: 400px;
  padding: 35px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.WeatherBox::before {
content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}